<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, viewport-fit=cover">
    {%- if description %}
        {%- set description = description | smart | safe %}
    {%- elif intro %}
        {%- set description = intro | markdown | safe | striptags(true) | escape %}
    {%- else %}
        {%- set description = content | striptags(true) | escape | truncate(150) %}
    {%- endif %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:site_name" content="Sambit Panda" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://dynamic-og-image-generator.vercel.app/api/generate?title={{ title | replace(' ', '+') }}&author=Sambit+Panda&websiteUrl=https%3A%2F%2Fsampan.me&avatar=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F36676569&theme=github" />
    <meta name="color-scheme" content="dark light" />
    
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/img/icons/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#262626" media="(prefers-color-scheme: dark)" />
    {%- set css %}{%- include "critical.css" %}{% endset %}
    <style>{{- css | safe | replace("", "") -}}</style>
    <link rel="preload" href="/css/non-critical.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="/css/non-critical.css?v={{ site.version }}" /></noscript>
</head>
