<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {%- if key %}
        {%- set title = references[key].title %}
    {%- endif %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, viewport-fit=cover">
    {%- if description %}
        {%- set description = description | smart | safe %}
    {%- elif intro %}
        {%- set description = intro | markdown | safe | striptags(true) | escape %}
    {%- else %}
        {%- set description = content | striptags(true) | escape | truncate(150) %}
    {%- endif %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:site_name" content="Sambit Panda" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://dynamic-og-image-generator.vercel.app/api/generate?title={{ title | replace(' ', '+') }}&author=Sambit+Panda&websiteUrl=https%3A%2F%2Fsampan.me&avatar=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F36676569&theme=github" />
    <meta property="og:image:alt" content="Social image for the {{ title }} page" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="article:author" content="{{ site.author.name }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="sampan.me">
    <meta name="twitter:site" content="{{ site.author.twitter }}" />
    <meta name="twitter:creator" content="{{ site.author.twitter }}" />
    <meta property="twitter:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ description }}" />
    <meta property="twitter:image" content="https://dynamic-og-image-generator.vercel.app/api/generate?title={{ title | replace(' ', '+') }}&author=Sambit+Panda&websiteUrl=https%3A%2F%2Fsampan.me&avatar=https%3A%2F%2Favatars.githubusercontent.com%2Fu%2F36676569&theme=github" />
    <meta property="twitter:image:alt" content="Social image for the {{ title }} page" />

    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />
    <meta name="disabled-adaptations" content="watch" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="color-scheme" content="dark light" />
    
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/img/icons/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#262626" media="(prefers-color-scheme: dark)" />
    {%- set css %}{%- include "critical.css" %}{% endset %}
    <style>{{- css | safe | replace("", "") -}}</style>
    <link rel="preload" href="/css/non-critical.css?v={{ site.version }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="/css/non-critical.css?v={{ site.version }}" /></noscript>
    <link rel="stylesheet" media="print" href="/css/print.css?v={{ site.version }}" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feeds/main.xml" />
    {% if comments %}
    <link rel="preconnect" href="https://giscus.app">
    <link rel="dns-prefetch" href="https://giscus.app">
    {% endif %}
    {% if math %}
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true
            },
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
</head>
