{%- if home %}
    {%- set featuredPost = true %}
{%- endif -%}
{%- if post.data.tags.includes('research') -%}
    {%- set project = references[post.data.key] -%}
{% else %}
    {%- set project = post.data -%}
{%- endif -%}

<li class="post-in-list">
    {%- if featuredPost %}<h3>{% else %}<h2>{% endif %}
        {% if post.data.tags.includes('research') %}
            {% if project.type == "article-journal" %}
                <span class="emoji-title">📄</span>
            {% elseif project.type == "article" %}
                <span class="emoji-title">📝</span>
            {% elseif project.type == "thesis" %}
                <span class="emoji-title">🎓</span>
            {% else %}
                <span class="emoji-title">📁</span>
            {% endif -%}
        {% endif -%}
        {% if post.data.tags.includes('software') %}
            {% if post.data.type == "research" %}
                <span class="emoji-title">🔬</span>
            {% else %}
                <span class="emoji-title">👤</span>
            {% endif -%}
            <a href="{{ project.url }}">
        {% else %}
            <a href="{{ post.url | replace(" .html", "" ) }}">
        {% endif -%}
        {{ project.title | smart | safe }}
        </a>
    {% if featuredPost %}</h3>{% else %}</h2>{% endif %}
    {% if not featuredPost %}
    <p class="details">
        {% if post.data.tags.includes('research') %}
            {% include "research-authors.html" %}<br>
        {% endif -%}
        {% if post.data.tags.includes('research') -%}
            {% if project.type != "other" -%}
                <em>{%- if project.DOI -%}
                <a href="https://doi.org/{{ project.DOI }}">
                {%- else -%}
                <a href="{{ project.URL }}">
                {%- endif -%}
                {{- project.journal -}}</a></em>,
            {% endif -%}
            {{ post.data.date | date('year') }}
        {% elseif not post.data.tags.includes('software') -%}
            {{ project.date | date }}
        {% endif -%}
    </p>
    {% endif -%}
    {% if post.data.intro %}
    <div class="description entry-summary">
        {{ post.data.intro  | markdown | safe }}
    </div>
    {% endif -%}
</li>
