<ul>
    {%- set social = [
    { title: 'Google Scholar', url: 'https://scholar.google.com/citations?user=-V3CmPoAAAAJ&hl=en', icon: 'google-scholar' },
    { title: 'GitHub', url: 'https://github.com/sampan501', icon: 'github' },
    { title: 'LinkedIn', url: 'https://www.linkedin.com/in/sampan501/', icon: 'linkedin' },
    { title: 'Resume', url: 'assets/pdf/Sambit%20Panda%20Resume.pdf', icon: 'resume' }
    ] %}
    {%- for item in social %}
    <li>
        <a href="{{ item.url | url }}"aria-current="social link">
            {{ item.title }}
            {%- include "svg/" + item.icon + ".svg" -%}
        </a>
    </li>
    {%- endfor %}
</ul>