.footer {
    font-size: 90%;
    clear: both;
    padding-bottom: 1em;
    margin-top: calc($section-spacing + 1em);
    text-align: center;

    ul,
    ol {
        display: flex;
        justify-content: center;
        max-width: none;
        @include remove-list-styling;
        @include inline-nav;
    }

    &:before {
        background-color: $color-black;
        content: '';
        display: block;
        @include dark-mode($background: $color-dark-mode-white);
    }

    .utility {
        @include remove-list-styling;
        @include inline-nav;
    }

    .copyright {
        margin-top: 1em;
    }
}