.logo {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
    margin-top: -.2em;
    text-decoration: none;
    padding-left: .4em;
    padding-right: .4em;
    font-weight: bold;

    &:link,
    &:visited {
        color: $color-black;
        @include dark-mode($color: $color-dark-mode-white);
    }

    &:hover,
    &:active {
        border-radius: .2rem;
        background: $color-highlight;
        @include dark-mode($background: $color-dark-mode-highlight);
    }

    @media (min-width: $xs) {
        margin-bottom: 0;
    }

    @media (max-width: $xs) {
        padding: 0;
    }
}