::selection {
  background: $color-primary;
  @include dark-mode($color: $color-black);
  @include high-contrast($background: $color-dark-mode-primary-light);
  color: $color-white;
}

blockquote {
  border-left: 0.15em solid $color-primary;
  margin-left: 0;
  margin-right: 0;
  padding: 0.25em 0 0.25em 0.85em;

  @media (min-width: $l) {
    margin-left: -1em;

    blockquote {
      margin-left: 0;
    }
  }

  @include high-contrast() {
    border-left-color: $color-dark-mode-primary-light;
  }

  ul,
  ol {
    padding-left: 1em;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  img:last-child {
    margin-bottom: 0.5em;
  }
}

ul,
ol {
  @media (max-width: $l) {
    padding-left: 1.5em;
  }

  ul {
    padding-left: 1em;
  }

  ol {
    padding-left: 1.25em;
  }

  ul {
    list-style-type: disc;
  }
}

li {
  &::marker {
    color: $color-primary;
    @include high-contrast($color: $color-dark-mode-primary-light);
  }

  ul &::marker {
    font-size: 1em;
    line-height: 1;
  }

  ul ol &::marker {
    font-size: 1em;
  }
}

dt {
  font-weight: 700;
}

hr {
  margin: $section-spacing auto;
  max-width: 10em;
  border-top: 2px solid $color-black;
  @include dark-mode() {
    border-color: $color-dark-mode-white;
  }
}

small {
  display: block;
  font-size: 100%;
  font-style: italic;
}

.featured-project {
  background-color: $color-highlight-featured;

  @include dark-mode() {
    background-color: $color-dark-mode-highlight-featured;
  }
}
