code,
kbd {
    overflow: scroll;
    border-radius: $border-radius-small;
    padding: .1em .1em .05em;
}

code {
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
    margin-right: .1em; // For when immediately followed by punctuation
    background-color: $color-code-background;
    @include dark-mode($color-dark-mode-code-background);
    @include high-contrast($color-high-contrast-code-background, );
}

kbd {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    margin-right: .2em;
    margin-left: .2em;
    box-shadow: 0 0 0 1px $color-grey, 0 2px 0 1px $color-grey;

    @include dark-mode() {
        box-shadow: 0 0 0 1px $color-dark-mode-grey, 0 2px 0 1px $color-dark-mode-grey;
    }
}

code {
    font-family: $code--font;
    font-weight: inherit;
    font-size-adjust: .53;
}

pre code,
pre {
    color: $color-black;
    @include dark-mode($color: $color-dark-mode-white);
}

pre {
    background-color: $color-code-background;
    @include dark-mode($background: $color-dark-mode-code-background);
    @include high-contrast($background: $color-high-contrast-code-background);
    padding: 1em;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    border-radius: $border-radius-default;
    margin-top: 1em;
    margin-bottom: 1em;

    @media (min-width: $l) {
        @include overspill;

        li & {
            @include overspill-reset;
        }
    }

    code {
        display: block;
        padding: 0;
    }
}

// For syntax highlighting, see ../../components/_syntax-highlighting.scss