summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 0.6em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

summary::after {
  content: "↓";
}

details[open] > summary::after {
  content: "↑";
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  border-radius: $border-radius-default;
}

summary:hover {
  border-radius: 0;
  background: $color-highlight;
  @include dark-mode($background: $color-dark-mode-highlight);
}

details[open] summary {
  border-radius: 0;
  background: $color-highlight;
  border-bottom: $border-outline-thickness solid $color-primary;
  @include dark-mode($background: $color-dark-mode-highlight) {
    border-bottom: $border-outline-thickness solid $color-code-grey;
  }
}

details {
  border: $border-outline-thickness solid $color-primary;
  border-radius: $border-radius-default;
  margin-top: 1em;

  @include dark-mode() {
    border: $border-outline-thickness solid $color-code-grey;
  }
}
