a {
    @include text-link;

    p & {
        padding-top: .25em;
    }

    >code {
        padding: 0;
        margin-right: 0;
    }

    @media (min-width: $m) {

        h2 & {
            text-decoration-thickness: .06em;
        }
    }
}

.research-links {
    font-size: ms(1);
    @include remove-list-styling;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
        margin-right: 1em;
    }

    li:last-child {
        margin-right: 0;
    }

    a {
        display: inline-flex;
        min-height: 30px;
        align-items: center;
    }

    @media (min-width: $m) {
        font-size: ms(2);
    }
}

.social {

    a {
        display: inline-flex;
        align-items: center;
    }
}