// Breakpoints
$xxs: 15em;
$xs: 25em;
$s: 31em;
$m: 43em;
$l: 63em;
$xl: 85em;

// Light mode colors
$color-primary: #0097db;
$color-primary-darker: #0077b3;
$color-primary-dark: #0073ab;
$color-black: #0b0c0c;
$color-white: #fff;
$color-grey: #949494;
$color-highlight: #ebf8ff;
$color-highlight-featured: #fefbeb;
$color-main: $color-white;

// Dark mode colors
$color-dark-mode-primary-light: #19b3ff;
$color-dark-mode-primary: $color-primary;
$color-dark-mode-primary-dark: #006394;
$color-dark-mode-black: #1f1f22;
$color-dark-mode-white: #f2f2f2;
$color-dark-mode-grey: #777;
$color-dark-mode-highlight: #3d3d3d;
$color-dark-mode-highlight-featured: #473a02;
$color-dark-mode-main: #262626;

// High contrast colors
$color-high-contrast-primary-light: #4dc4ff;
$color-high-contrast-highlight: #171717;
$color-high-contrast-main: #000;

// Code colors
$color-code-background: #f2f2f2;
$color-code-grey: #534f54;
$color-code-magenta: #d8036e;
$color-code-purple: #6d5ad8;
$color-code-cyan: #147685;
$color-code-yellow: #7c6c04;

// Dark mode code colors
$color-dark-mode-code-background: #1a1a1c;
$color-dark-mode-code-grey: #adacaf;
$color-dark-mode-code-magenta: #ff508c;
$color-dark-mode-code-purple: #9786e9;
$color-dark-mode-code-cyan: #00d7e9;
$color-dark-mode-code-yellow: #ffe648;

// High contrast code colors
$color-high-contrast-code-background: $color-high-contrast-highlight;
$color-high-contrast-code-magenta: #ff75a5;
$color-high-contrast-code-purple: #a498ec;

// General styles
$border-outline-thickness: 4px;
$border-radius-default: 5px;
$border-radius-small: 2.5px;
$section-spacing: 3em;

// Fonts
$system--font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$code--font: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
  "Liberation Mono", monospace;
