@page {
  margin: 1in;
  /* 1 inch margin for all sides */
}

body {
  font-size: 10pt;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.utility {
  display: none;
}

a {
  &:link,
  &:visited {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
}

ul,
img,
blockquote,
pre {
  page-break-inside: avoid;
}
