---
layout: base.html
---

<div itemscope itemtype="https://schema.org/BlogPosting">
    <h1 itemprop="title headline">{{ title | smart | safe }}</h1>
    <div aria-label="Post details" class="post-details">
        <p>
            on <span class="entry-published date" itemprop="dateCreated pubdate datePublished" content="{{ date | isoDate }}" >{{ date | date -}}</span>{%- if updated -%}; updated <span itemprop="dateModified" content="{{ updated | isoDate }}">{{- updated | date -}}</span>{% endif %}
            <meta itemprop="author" content="{{ site.author.name }}" />
            <meta itemprop="publisher" itemscope itemtype="https://schema.org/Corporation" content="{{ site.company }}" />
        </p>
    </div>
    <div itemprop="mainEntityOfPage">
        {{ content | safe }}
    </div>
</div>

{% if collections.posts.length > 1 %}
{% include "more-posts.html" %}
{% endif %}

<div class="accordion">
    <input type="checkbox" id="toggle" name="toggle">
    <label class="toggle-btn" for="toggle">Comments</label>
    <div class="accordion-content">
        <script src="https://giscus.app/client.js" data-repo="sampan501/sampan.me" data-repo-id="R_kgDOMeycGA"
            data-category="Comments" data-category-id="DIC_kwDOMeycGM4ChYJ0" data-mapping="title" data-strict="0"
            data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme"
            data-lang="en" data-loading="lazy" crossorigin="anonymous" async>
            </script>
    </div>
</div>
