---
layout: base.html
---
{% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
{% set fixedContent = content | replace(regExpCode, "") | striptags %}
{% set wordCount = fixedContent | wordcount %}
{% set readingRate = 225 %}
{% set readingTime = (wordCount/readingRate) | round %}
{% if readingTime < 1 %}{% set readingTime=1 %}{% endif %}
<div itemscope itemtype="https://schema.org/BlogPosting">
    <h1 itemprop="title headline">{{ title | smart | safe }}</h1>
    <div aria-label="Post details" class="post-details">
        <p>
            <span class="entry-published date" itemprop="dateCreated pubdate datePublished" content="{{ date | isoDate }}" >{{ date | date -}}</span> •
            <span>{{ readingTime }} min read</span>
            <meta itemprop="author" content="{{ site.author.name }}" />
            <meta itemprop="publisher" itemscope itemtype="https://schema.org/Corporation" content="{{ site.company }}" />
        </p>
    </div>
    <div itemprop="mainEntityOfPage">
        {{ content | safe }}
    </div>
</div>

{% if collections.posts.length > 1 %}
{% include "more-posts.html" %}
{% endif %}

{% if comments %}
<div class="accordion">
    <input type="checkbox" id="toggle" name="toggle">
    <label class="toggle-btn" for="toggle">Comments</label>
    <div class="accordion-content">
        <script src="https://giscus.app/client.js" data-repo="sampan501/sampan.me" data-repo-id="R_kgDOMeycGA"
            data-category="Comments" data-category-id="DIC_kwDOMeycGM4ChYJ0" data-mapping="title" data-strict="0"
            data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme"
            data-lang="en" data-loading="lazy" crossorigin="anonymous" async>
        </script>
    </div>
</div>
{% endif %}
