---
layout: base.html
---

<article itemscope itemtype="https://schema.org/BlogPosting">
    <h1 itemprop="title headline">{{ title | smart | safe }}</h1>
    <div aria-label="Post details" class="post-details">
        <p>
            {%- if authors.length >= 1 %}
                {% for author in authors %}
                    {%- if author == "me" %}
                        <strong>{{ site.author.name }}</strong>
                    {%- elseif author == "me*"%}
                        <strong>{{ site.author.name }}</strong>*
                    {%- else %}
                        {{ author }}
                    {%- endif -%}
                    {%- if loop.length >= 2 %}{%- if not loop.last %},{%- endif -%}{%- endif -%}
                {%- endfor %}
            {%- endif -%}<br>
            {% if type != "other" %}
            {{ journal }},
            {% endif -%}
            <span class="entry-published date" itemprop="dateCreated pubdate datePublished" content="{{ date | isoDate }}" >{{ date | date('year') }}</span>
            <meta itemprop="author" content="{{ site.author.name }}" />
            <meta itemprop="publisher" itemscope itemtype="https://schema.org/Corporation" content="{{ site.company }}" />
        </p>
        <p>
            {% if equalContribution %}
            *Equal Contribution
            {% endif -%}
        </p>
    </div>
    <div itemprop="mainEntityOfPage">
        <ul class="research-links">
        {% if type == "journal" %}
        <li><a href="http://doi.org/{{ doi }}">Paper</a></li>
        {% elif type == "preprint" %}
        <li><a href="http://doi.org/{{ doi }}">{{ journal }}</a></li>
        {% endif -%}
        {% if links %}
        {% for link in links %}
            {% set linkslist =  link.split(": ") %}
            <li>
            <a href="{{ linkslist[1] }}">{{ linkslist[0] }}</a>
            </li>
        {% endfor %}
        {% endif %}
        </ul>

        {{ content | safe }}

        <h2 id="abstract">Abstract</h2>
        {% if abstract.includes("<sub>") %}
            {{ abstract | safe }}
        {% else %}
            {{ abstract | markdown | safe }}
        {% endif %}
    </div>
</article>

{% include "more-posts.html" %}
