---
pagination:
  data: collections
  size: 1
  alias: topic
  filter:
    - all
    - research
    - software
    - other
    - post
layout: default
permalink: /research/topic/{{ topic | slugify | safe }}.html
---

<p>
    All research related to {{ topic }}.
    A full list of topics is available <a href="/research">on my research page</a>.
</p>

<ol class="hfeed index-list" reversed>
    {% set topicList = collections[ topic ] | filterByTag("research") %}
    {% for post in topicList | reverse %}
        {% include "post-in-list.html" %}
    {% endfor %}
</ol>