---
title: Software by Sambit Panda
heading: Software
intro: |
    I enjoy developing software, many of which help solve difficult research problems. Many of these projects are also [on GitHub](https://github.com/sampan501).
layout: default
listing: true
---
<ul class="topics" aria-label="software topics">
    {%- set topics = collections.software | getTopics %}
    {%- for topic in topics %}
        <li><a href="/topic/{{ topic | lower | replace(' ', '-') }}">{{ topic }}</a></li>
    {%- endfor %}
</ul>

<ol class="hfeed index-list" reversed>
    {%- for post in collections.software | reverse %}
    {% if post.data.type == "research" %}
    {%- include "post-in-list.html" %}
    {%- endif %}
    {%- endfor %}
</ol>

<!-- TODO: try to get rid of this loop-->
<hr>

<ol class="hfeed index-list" reversed>
    {%- for post in collections.software | reverse %}
    {% if post.data.type == "personal" %}
    {%- include "post-in-list.html" %}
    {%- endif %}
    {%- endfor %}
</ol>